i{
  margin-right:10px;
  color:rgba(255,255,255, 0.6);
}
.panel-default>.panel-heading{
  background-color: #2A3037;
  color:rgba(255,255,255, 0.9);
  border-left:3px solid #d19b3d;
}
.panel-default{
  margin:0px !important;
}
a{
  font-size:13px;
  color:rgba(255,255,255, 0.9);
  transition:0.2s all;
}
a:hover{
  color:white;
  text-decoration:none;
  font-weight:bolder;
}
a#unique{
  color:white;
  text-decoration:none;
    font-weight:bolder;
}
td{
  background: #181c20;
    color:rgba(255,255,255, 0.8);
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
  background:#181c20;
}
.breadcrumb{
  background: #2A3037;
}
